<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>第三方菜单版本</title>
  <link rel="stylesheet" href="/static/js/layui/css/layui.css">
</head>
<body>
  <h1>德克士菜单发布</h1>
 <form class="layui-form" action="{:url('menu/check')}" method="post">


<div class="layui-form-item layui-form-text">
<label class="layui-form-label">微信外送：</label>
   <div class="layui-input-block">
  <select name="version[]" lay-verify="">
  <option value="">请选择菜单版本</option>
  <option value="1">一般通路标准版全</option>
  <option value="2">一般通路特级版版全</option>
  <option value="3">一般通路超值版全</option>  
</select> 
</div>
  </div>

<div class="layui-form-item layui-form-text">
<label class="layui-form-label">微信堂食：</label>
<div class="layui-input-block">
<select name="version[]" lay-verify="">
  <option value="">请选择菜单版本</option>
  <option value="7">一般通路标准版全</option>
  <option value="8">一般通路特级版版全</option>
  <option value="9">一般通路超值版全</option>
</select>
 </div>
  </div>

<div class="layui-form-item layui-form-text">
<label class="layui-form-label">饿了么：</label>
<div class="layui-input-block">
<select name="version[]" lay-verify="">
  <option value="">请选择菜单版本</option>
  <option value="13">一般通路标准版全</option>
  <option value="14">一般通路特级版版全</option>
  <option value="15">一般通路超值版全</option>
</select>
</div>
  </div>

<div class="layui-form-item layui-form-text">
<label class="layui-form-label">美团：</label>
<div class="layui-input-block">
<select name="version[]" lay-verify="">
  <option value="">请选择菜单版本</option>
  <option value="18">一般通路标准版全</option>
  <option value="19">一般通路特级版版全</option>
  <option value="20">一般通路超值版全</option>
</select>      
</div>
  </div>
  
    <div class="layui-form-item layui-form-text">
    <label class="layui-form-label">餐厅编码：</label>
    <div class="layui-input-block">
      <textarea name="store_code" placeholder="请输入“三代编码”，多个用英文逗号“,”隔开。" class="layui-textarea"></textarea>
    </div>
  </div>
  
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="formDemo">开始导入</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>
<!-- 菜品系列 -->

 
<script src="/static/js/layui/layui.js"></script>

<script>
//Demo
layui.use('form', function(){
  var form = layui.form;
  
  //监听提交

});
</script>
</body>
</html>